html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
#star-sky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}
.star{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}